aside.drawer.drawer--mini
  nav.nav.nav-pills.flex-column
    .drawer__toggler: +md-icon.drawer__icon menu

    .btn.btn-link.nav-link.dropdown-toggle(
    data-toggle='collapse'
    data-target='#homeSubmenu'
    aria-expanded='false'
    )
      +md-icon.drawer__icon apps
      span Home
    #homeSubmenu.collapse
      .btn.btn-link.dropdown-item Home 1
      .btn.btn-link.dropdown-item Home 2
      .btn.btn-link.dropdown-item Home 3

    .btn.btn-link.nav-link
      +md-icon.drawer__icon apps
      span About

    .btn.btn-link.nav-link.dropdown-toggle(
    data-toggle='collapse'
    data-target='#pageSubmenu'
    aria-expanded='false'
    class='dropdown-toggle'
    )
      +md-icon.drawer__icon apps
      span Pages
    #pageSubmenu.collapse
      .btn.btn-link.dropdown-item Page 1
      .btn.btn-link.dropdown-item Page 2
      .btn.btn-link.dropdown-item Page 3

    .btn.btn-link.nav-link
      +md-icon.drawer__icon apps
      span Portfolio

    .btn.btn-link.nav-link(
    data-toggle='modal'
    data-target='.pro-modal-mail'
    )
      +md-icon.drawer__icon mail_outline
      span Contact

