aside.drawer.drawer--mini
  nav.nav.nav-pills.flex-column
    button.drawer__toggler(type='button'): +md-icon menu

    a.nav-link.dropdown-toggle(
    href='#homeSubmenu'
    data-toggle='collapse'
    aria-expanded='false'
    )
      +md-icon.drawer__icon apps
      span Home
    #homeSubmenu.collapse
      a.dropdown-item(href='#') Home 1
      a.dropdown-item(href='#') Home 2
      a.dropdown-item(href='#') Home 3

    a.nav-link(href='#')
      +md-icon.drawer__icon apps
      span About

    a.nav-link.dropdown-toggle(
    href='#pageSubmenu'
    data-toggle='collapse'
    aria-expanded='false'
    class='dropdown-toggle'
    )
      +md-icon.drawer__icon apps
      span Pages
    #pageSubmenu.collapse
      a.dropdown-item(href='#') Page 1
      a.dropdown-item(href='#') Page 2
      a.dropdown-item(href='#') Page 3

    a.nav-link(href='#')
      +md-icon.drawer__icon apps
      span Portfolio

    a.nav-link(href='#')
      +md-icon.drawer__icon mail_outline
      span Contact
