header.mdc-top-app-bar
    .mdc-top-app-bar__row
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-start
            span.material-icons.mdc-top-app-bar__navigation-icon menu
            span.mdc-top-app-bar__title Persistent Drawer
        section.mdc-top-app-bar__section.mdc-top-app-bar__section--align-end(role='toolbar')
            a.material-icons.mdc-top-app-bar__action-item.is-active(
                href='#'
                aria-label='Mail'
                ) mail_outline
            a.material-icons.mdc-top-app-bar__action-item(
                href='#'
                aria-label='Account'
                ) person_outline
            a.material-icons.mdc-top-app-bar__action-item(
                href='#'
                aria-label='Bookmark this page'
                data-scroll='#__20'
                ) bookmark_outline
