extends layout.pug

block content
  .container
    h1 KOA
    p some content

    canvas.daks(
    width=192
    height=192
    data-light='index'
    data-href=assets['icon.png']
    )
    link(
    itemprop='image'
    href=assets['00.jpg']
    data-light='index'
    )
    link(
    itemprop='image'
    href=assets['01.jpg']
    data-light='index'
    )

    .row.mt-5
      each val, idx in Array(21)
        .col-4.mb-4
          canvas.lazyload.lazyload--fluid(
          id=`__${idx + 1}`
          width=600
          height=450
          data-lazy=`https://picsum.photos/600/450?image=${idx * 3 + 1}`
          )
