include mixins

doctype html

html(
  lang='ru'
  itemscope
  itemtype='http://schema.org/WebPage'
  )
  head
    include components/head

  body.mdc-typography
    .app-frame-root
      include components/drawer

      include components/header

      main(itemprop='mainContentOfPage')
        .mdc-top-app-bar--fixed-adjust(aria-hidden='true')
        .app-frame-content: block content

      include components/footer
      //-include components/mail
      //-include components/flash
      //-include components/scroll_sign

    script (function(d){if((/msie|rv:11/i).test(navigator.userAgent)){var e=d.createElement('script');e.src='#{assets['polyfill.js']}';d.body.appendChild(e)}})(document)
    script(src=assets['app.js'], defer)

