doctype html

html(
lang='ru'
itemscope
itemtype='http://schema.org/WebPage'
)
  head
    include includes/head.pug

  body
    header
      p some header content

    main(role='main')
      block content

    footer
      p some footer content

    script(
    src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
    integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
    crossorigin='anonymous'
    )
    script(src=manifest['main.js'])
