section.carousel.slide(
data-ride='carousel'
data-interval='10000'
data-pause
)
  :uglify-css
    style.
      .carousel-item .icon {
        display: block;
        color: #777;
        font-size: 30vmin;
      }
      .carousel-item .icon-__logo {
        color: #555;
        font-size: 15vmin;
      }
  - n = 4
  ol.carousel-indicators
    each v, i in Array(n)
      li(
      class=(i === 0 && 'active')
      data-target='.carousel'
      data-slide-to=i
      )
  .carousel-inner
    each v, i in Array(n)
      .carousel-item(class=(i === 0 && 'active'))
        //-.lazyload(data-carousel-lazy=`https://picsum.photos/600/450?image=${Math.floor(Math.random() * 49) + 1}`)
        case i
          when 0
            .p-5: +icon('__logo').wow.zoomIn(data-wow-delay='.5s')
          when 1
            .p-5: +icon('apps').wow.zoomIn(data-wow-delay='.5s')
          when 2
            .p-5: +icon('security').wow.zoomIn(data-wow-delay='.5s')
          when 3
            .p-5: +icon('important_devices').wow.zoomIn(data-wow-delay='.5s')
        .carousel-caption.d-none.d-md-block
          h5 Slide #{i + 1}
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .carousel__more.wow.zoomIn(data-wow-delay='.5s')
      each v, i in Array(3)
        +icon('expand_more').wow.fadeOutDown.infinite(data-wow-delay=`${1.5 + 0.25 * i}s`)
  a.carousel-control-prev(
  role='button'
  href='.carousel'
  data-slide='prev'
  )
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  a.carousel-control-next(
  role='button'
  href='.carousel'
  data-slide='next'
  )
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
