aside.drawer.drawer--mini
  nav.nav.nav-pills.flex-column
    .drawer__toggle: +icon('menu').drawer__icon

    a.btn.btn-link.nav-link(
    href='.partial--00'
    data-scroll-to
    )
      +icon('apps').drawer__icon
      span Home

    a.btn.btn-link.nav-link(
    href='.partial--01'
    data-scroll-to
    )
      +icon('security').drawer__icon
      span About

    a.btn.btn-link.nav-link(
    href='.partial--02'
    data-scroll-to
    )
      +icon('important_devices').drawer__icon
      span Portfolio

    .btn.btn-link.nav-link.dropdown-toggle(
    data-toggle='collapse'
    data-target='.drawer__page-submenu'
    aria-expanded='false'
    class='dropdown-toggle'
    )
      +icon('import_contacts').drawer__icon
      span Pages
    .drawer__page-submenu.collapse
      .btn.btn-link.dropdown-item Page 1
      .btn.btn-link.dropdown-item Page 2
      .btn.btn-link.dropdown-item Page 3

    .btn.btn-link.nav-link.mt-auto(
    data-toggle='modal'
    data-target='.modal-mail'
    )
      +icon('mail_outline').drawer__icon
      span Contact

